// Snow theme colors
// -----------------------------------------------------------------------------

$formulate-font-stack: inherit;

$formulate-gray: #efefef;
$formulate-gray-d: #C6C5CC;
$formulate-gray-dd: #a8a8a8;
$formulate-gray-ddd: #6d6d6d;
$formulate-gray-dddd: #2e2e2e;

$formulate-dark: #110B28;

$formulate-blue-l: #f3f4f4;

$formulate-green: #5335CA;
$formulate-green-l: #5335CA;

$formulate-error: #FF1717;
$formulate-error-l: #FF1717;

$formulate-yellow-d: #6b5900;
$formulate-yellow: #e6c000;
$formulate-yellow-l: #fff8d2;

$formulate-white: #ffffff;



// Mixins
// -----------------------------------------------------------------------------
@mixin baseinput {
  appearance: none;
  border-radius: .8em;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: #fff;
  font-size: .9em;
  font-family: $formulate-font-stack;
  padding: .75em;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;

  &::placeholder {
    color: $formulate-gray-dd;
    line-height: normal;
  }

  &:focus {
    outline: 0;
    border: 1px solid $formulate-green;
  }
}

@mixin down-arrow {
  content: '';
  width: 0;
  height: 0;
  border: .3em solid transparent;
  border-top-color: $formulate-gray-d;
  border-bottom-width: 0;
}
