.Scrollbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
  position: relative;

  &.-autohide {
    .simplebar-content-wrapper:not([style*='hidden scroll']) {
      padding-right: 0;
    }
  }

  .simplebar-wrapper {
    width: inherit;
    max-width: inherit;
    height: inherit;
    max-height: inherit;
    overflow: hidden;
  }
  .simplebar-mask {
    width: auto !important;
    height: auto !important;
    overflow: hidden;
    z-index: 0;
    direction: inherit;
  }
  .simplebar-mask,
  .simplebar-offset {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    -webkit-overflow-scrolling: touch;
  }
  .simplebar-content-wrapper {
    box-sizing: border-box !important;
    display: flex;
    width: auto;
    max-width: 100%;
    height: 100%;
    min-height: 0;
    max-height: 100%;
    padding-right: 10px;
    position: relative;
    visibility: visible;
    direction: inherit;
    scrollbar-width: none;
  }
  .simplebar-content-wrapper::-webkit-scrollbar,
  .simplebar-hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .simplebar-content {
    width: 100%;
  }
  .simplebar-content:after,
  .simplebar-content:before {
    content: ' ';
    display: table;
  }
  .simplebar-placeholder {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
  }
  .simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    flex-basis: 0;
    flex-grow: inherit;
    flex-shrink: 0;
    float: left;
    width: 100%;
    max-width: 1px;
    height: 100%;
    max-height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
    pointer-events: none;
  }
  .simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    width: 1000%;
    min-width: 1px;
    height: 1000%;
    min-height: 1px;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  .simplebar-height-auto-observer,
  .simplebar-track {
    overflow: hidden;
    position: absolute;
    pointer-events: none;
  }
  .simplebar-track {
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  [data-simplebar].simplebar-dragging .simplebar-content {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
  }
  [data-simplebar].simplebar-dragging .simplebar-track {
    pointer-events: all;
  }
  .simplebar-scrollbar {
    width: 5px;
    min-height: 10px;
    position: absolute;
    right: 0;
    will-change: height;
  }
  .simplebar-scrollbar:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    background: var(--color-grey);
    border-radius: 5px;
    opacity: 0.5;
    transition: ease opacity 200ms;
  }
  .simplebar-scrollbar.simplebar-visible:before {
    // opacity: 1;
  }
  .simplebar-track.simplebar-vertical {
    width: 5px;
    top: 0;
    background: var(--color-darkblue);
    border-radius: 5px;
  }
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
  }
  .simplebar-track.simplebar-horizontal {
    height: 11px;
    left: 0;
  }
  .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 100%;
    right: 2px;
    left: 2px;
  }
  .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    width: auto;
    min-width: 10px;
    height: 7px;
    min-height: 0;
    top: 2px;
    right: auto;
    left: 0;
  }
  [data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
    right: auto;
    left: 0;
  }
  .hs-dummy-scrollbar-size {
    width: 500px;
    height: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    direction: rtl;
  }
  .simplebar-hide-scrollbar {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    visibility: hidden;
    scrollbar-width: none;
  }
}
