.Content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;

    &:not(:first-child) {
      margin-top: 1.2em;
    }
  }

  a {
    color: var(--color-accent);
    transition: ease color 300ms;

    &:hover {
      color: var(--color-second);
    }
  }

  strong,
  b {
    color: var(--color-black);
  }

  img {
    display: block;
    margin: 1.5em 0;
  }

  h3,
  h4,
  h5,
  h6 {
    & + p,
    & + ul,
    & + ol {
      margin-top: 0.7em;
    }
  }

  ul {
    padding: 0;
    position: relative;
    list-style: none;

    li {
      padding-left: 2em;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 0.75em;
        height: 0.75em;
        position: absolute;
        left: 0;
        top: 0.25em;
        background-color: var(--color-accent);
      }
    }

    li + li {
      margin-top: 0.65em;
    }

    &.-coins {
      li {
        &::before {
          content: '';
          display: block;
          width: 0.96em;
          height: 0.96em;
          position: absolute;
          left: 0;
          top: 0.15em;
          background-color: transparent;
          background-image: url(/images/money.svg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
        }
      }
    }

    &.-mega-coins {
      li {
        &::before {
          width: 1.75em;
          height: 1.75em;
          top: 0;
          background-image: url(/images/coin-glow.png);
        }
      }
    }
  }

  blockquote,
  img,
  p,
  ul {
    margin: 0.8em 0;

    &:last-child:first-child {
      margin: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
