.Section {
  $this: &;

  --scale-factor: 1;
  --side-padding: 150px;
  --content-margin: calc(var(--side-padding) / 1.5);

  &.-reverse {
    #{$this}_headline {
      display: flex;
      justify-content: flex-end;
      padding-left: 0;
      padding-right: calc(var(--side-padding) / 2);
    }

    #{$this}_cover {
      margin-left: var(--content-margin);
    }

    #{$this}_content {
      margin-left: calc(var(--side-padding) / 2);
    }
  }

  min-height: 730px;
  padding: 40px 0;
  position: relative;

  &_headline {
    padding-left: var(--side-padding);
  }

  &_label {
    margin: 0;
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: calc(32px * var(--scale-factor));
    line-height: 1.21;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
  }

  &_row {
    display: flex;
    align-items: center;
    margin-top: calc(var(--side-padding) / 2 + 5px);
  }

  &_cover {
    width: 100%;
    max-width: 580px;
    min-width: 320px;
    height: 0;
    flex: 1;
    padding-bottom: 50.8%;
    position: relative;
  }

  &_image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &.-shadow {
      filter: drop-shadow(5px 5px 25px rgba(0, 0, 0, 0.5));
    }
  }

  &_subject {
    position: absolute;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    &.-shadow {
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
      right: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      filter: grayscale(1) brightness(0) blur(10px);
      opacity: 0.5;
    }
  }

  &_content {
    max-width: 580px;
    margin-left: var(--content-margin);
    flex: 1;
  }

  &_pretitle {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #5335CA;
    font-size: 1.6rem;
    line-height: 1.9rem;

    @include for-tablet-up {
      margin-bottom: 33px;
    }

    @include for-desktop-up {
      font-size: 2.4rem;
      line-height: 2.8rem;
      margin-bottom: 92px;
    }

    &.-opposite {
      color: var(--color-white);
    }
  }

  &_title {
    font-family: var(--font-family);
    color: var(--color-text);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-size: 2.4rem;

    @include for-desktop-up {
      font-size: 4.8rem;
      line-height: 100%;
    }

    &.-highlight {
      font-style: normal;
      display: block;
      color: var(--color-accent);
      -webkit-text-stroke: 0;
    }

    &.-opposite {
      color: var(--color-white);
    }
  }

  &_description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: var(--font-family);
    color: var(--color-text);

    @include for-desktop-up {
      font-size: 2rem;
      line-height: 2.4rem;
    }

    &.-opposite {
      color: var(--color-white);
    }
  }

  &_button {
    margin-top: 40px;
  }

  @media (max-width: 1220px) {
    --scale-factor: 0.9;
    --side-padding: 90px;

    min-height: auto;
    padding: 30px 0;

    &_button {
      margin-top: 30px;
    }
  }

  @media (max-width: 1080px) {
    --scale-factor: 0.85;
    --side-padding: 0;
    --content-margin: 60px;

    &_row {
      margin-top: 40px;
    }
  }

  @media (max-width: 760px) {
    --scale-factor: 0.8;
    --content-margin: 0;

    padding: 0;

    &.-reverse {
      #{$this}_headline {
        justify-content: flex-start;
      }

      #{$this}_row {
        flex-direction: column-reverse;
      }
    }

    &_row {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
    }

    &_content {
      margin-left: 0;
      margin-top: 30px;
      z-index: 1;
    }

    &_cover {
      height: auto;
      max-width: 480px;
      min-width: 260px;
      padding-left: 0;
      padding-bottom: 0;
    }

    &_image {
      position: relative;
    }

    &_image,
    &_cover {
      visibility: visible !important;
      opacity: 1 !important;
      transform: translate(0, 0) !important;
    }

    &_headline,
    &_cover,
    &_content {
      transform: translate(0, 0) !important;
    }
  }
}
