.Text {
  padding-bottom: 20px;

  a {
    color: var(--color-black);
    transition: ease color 300ms;

    &:hover {
      color: var(--color-second);
    }
  }

  strong,
  b {
    color: var(--color-black);
  }

  img {
    display: block;
    margin: 1.5em 0;
  }

  h3,
  h4,
  h5,
  h6 {
    & + p,
    & + ul,
    & + ol {
      margin-top: 0.7em;
    }
  }

  blockquote,
  img,
  p,
  ul {
    margin: 1.2em 0;

    &:last-child:first-child {
      margin: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: 25px;

    li + li {
      margin-top: 5px;
    }

    &.clear {
      padding-left: 0;
      list-style: none;

      li {
        text-indent: 20px;
      }

      li + li {
        margin-top: 15px;
      }
    }
  }
}
