//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Exo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Exo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Rubik-Bold.ttf') format('truetype');
}
